body {
    width: 100w;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
}

.header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom : 1px solid #ffffff;
}

#signup-container {
   width: 100%;
   height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

input {
    width: 80%;
    padding-bottom: 5px;
    border:none;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
    height: 30px;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff
}

button{
    padding: 10px 30px;
    background-color: #ffffff;
    color: #000000;
}

#error {
    color: red
}