body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    height: 100vh;
    width: 100vmin;
    flex-direction: column;
}

.container{
align-items: center;
justify-content: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 10px;
    border:  1px solid #ffffff;
}

button {
 background-color: #ffffff;
 color: #000000;
 padding: 10px 20px;
}

.flex {
    display: flex;
    justify-content: space-around;
}